.control {
    position: relative;
    height: 100vh;
    background-color: @paperwhite;
    box-shadow: 3px 3px 12px #f0f0f0;
    border-right: 1px solid #fff;
    h1 {
    	text-transform: uppercase;
    	word-wrap: break-word;
		padding: 0 80px;
		text-align: center;
		font-weight: 900;
		line-height: 0.8em;
    }

}